<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClientReservasi_027.Properties.Settings.WCFReservasiConnectionString"
            connectionString="Data Source=LAPTOP-FL3VMLAT;Initial Catalog=WCFReservasi;Persist Security Info=True;User ID=sa;Password=newWorld"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EndpointService" />
                <binding name="EndpointService1" />
                <binding name="EndpointService2" />
                <binding name="EndpointService3" />
                <binding name="EndpointService4" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1907/" binding="basicHttpBinding"
                bindingConfiguration="EndpointService" contract="ServiceReference1.IService1"
                name="EndpointService" />
            <endpoint address="http://localhost:1907/" binding="basicHttpBinding"
                bindingConfiguration="EndpointService1" contract="ServiceReference2.IService1"
                name="EndpointService1" />
            <endpoint address="http://localhost:1907/" binding="basicHttpBinding"
                bindingConfiguration="EndpointService2" contract="ServiceReference3.IService1"
                name="EndpointService2" />
            <endpoint address="http://localhost:1907/" binding="basicHttpBinding"
                bindingConfiguration="EndpointService3" contract="ServiceReference4.IService1"
                name="EndpointService3" />
            <endpoint address="http://localhost:1907/" binding="basicHttpBinding"
                bindingConfiguration="EndpointService4" contract="ServiceReference5.IService1"
                name="EndpointService4" />
        </client>
    </system.serviceModel>
</configuration>